@import "mixins.scss";
@import "variables.scss";

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2")
    format("woff2"), url("../fonts/ptsansnarrow.woff")
    format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2")
    format("woff2"), url("../fonts/ptsansnarrowbold.woff")
    format("woff");
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

* {
  //outline: 1px solid rgba(255, 0, 255, 0.3);
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #f7f5f1;
  font-style: normal;
  font-display: swap;
  background-color: $bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
    display:block;
}

/*--------------------STYLE-CSS-----------------------------*/
